/* Mobile First Styles */

.section {
  clear: both;
  padding: 0;
  margin: 0;
}

.col {
  display: block;
  float: left;
  margin: 2% 0;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

.one-quarter,
.three-quarters,
.one-third,
.two-thirds,
.one-half {
  width: 100%;
}

.flex {
  flex-flow: column;
}

.flex > div {
  margin: 0 0 1em 0;
  padding: 2%;
  img {
    width: 100%;
  }
}

/* Span Columns for Tablet and Desktop */
@media (min-width: 60em) {

  .col {
    margin: 2% 0 2% 2%;
    &:first-child {
      margin-left: 0;
    }
  }

  .one-quarter {
    width: 23.5%;
  }

  .three-quarters {
    width: 74.5%;
  }

  .one-third {
    width: 32%;
    &:nth-child(3n+1) {
      clear: both; 
      margin-left: 0;
    }
  }

  .two-thirds {
    width: 66%;
  }

  .one-half {
    width: 49%;
    &:nth-child(3) {
      margin: 0;
    }
  }

  .flex {
    display: flex;
    flex-flow: row;
  }

  .flex > div {
    flex: 1;
    margin: 0 0 0 1%;
    &:first-child {
      margin: 0;
    }
  }

}