---
title: Jamie Noon | Portfolio
heading: Portfolio
---
<h2 id="page-heading"><%= current_page.data.heading %></h2>
  <section class="grid-container">
    <% data.projects.item.each do |item| %>
    <div class="grid-item">
      <figure>
        <%= link_to image_tag(item.thumb), item %>
        <figcaption>
          <h2><%= link_to item.title, item %></h2>
          <h3><%= link_to item.category, item %></h3>
        </figcaption>
      </figure>
    </div>
    <% end %>
  </section>