---
title: Jamie Noon | About
heading: About
---
<h2 id="page-heading"><%= current_page.data.heading %></h2>
<div class="section group">
  <section class="col two-thirds col-float-right">
    <p>Hello, I'm Jamie Noon.</p>

    <p>I am a designer. A developer. An artist. An entrepreneur. At heart, I am a creative.</p>

    <p>I am passionate about designing and developing elegant and responsive user experiences. As an entrepreneur for over ten years, I find passion in helping small businesses and startup ventures conceptualize their online vision. I know firsthand that no one knows and understands a business like its owner—that's why it is incredibly important to me to hear any and all of your thoughts and ideas when commencing a project.</p>

    <p>I hold a Master of Science (M.S.) in Graphic Information Technology from Arizona State University's Ira A. Fulton Schools of Engineering, a degree that is the mergence of two of my foremost passions: art and technology. With focus areas in usability/psychology and web development, I am able to provide clients with a range of services, including:</p>
    <ul class="list">
      <li>Custom web development</li>
      <li>Responsive web design</li>
      <li>Usability testing and analysis</li>
      <li>Social media integration, strategy, and management</li>
      <li>Branding and graphic design, including logo creation and marketing collaterals (digital and print)</li>
    </ul>
    <p>My experience designing targeted usability studies for real-world web applications has paved the way in which I set out to design. I follow a user-centered design and development approach in order to captivate users and keep them happy (happy users = happy you).</p>

    <p>I would look forward to extending my creativity by creating something for and with you.</p>

    <p>Let's connect! <%= link_to "Email me", "/contact.html" %> and I'll get right back to you.
  </section>
  <section class="col one-third col-float-left">
    <figure>
      <%= image_tag "jamie-noon.jpg" %>
    </figure>
  </section>
</div>