---
title: Jamie Noon | Web Development and Design
heading: Hello,
---
<h2 id="page-heading"><%= current_page.data.heading %></h2>
<section class="grid-container">
 <div class="intro grid-item" id="web">
    <h2>Web Development</h2>
    <i class="fa fa-code fa-2x" aria-hidden="true"></i>
    <p>Every business is unique, and your website should be too. Utilizing modern web technologies and specializing in hand-coding, each line of code is semantic and SEO compliant. The result? Faster download times and an improved user experience.</p>
  </div>
  <div class="intro grid-item" id="design">
    <h2>Responsive Web Design</h2>
    <i class="fa fa-mobile fa-2x" aria-hidden="true"></i>
    <p>Most web users are mobile, so we ensure that your website is. Your website will be fully responsive—it will display seamlessly from desktop to tablet to mobile, and tested for cross-browser compatibility.</p>
  </div>
  <div class="intro grid-item" id="branding">
    <h2>Branding &amp; Graphic Design</h2>
    <i class="fa fa-heart fa-2x" aria-hidden="true"></i>
    <p>A logo defines a brand and establishes an identity. It should be lasting and it should be memorable. Make an impact on the hearts of your site users and customers with a well-designed logo that tells your story better than words.</p>
  </div>
</section>
<section class="action">
  <%= button_to "Get In Touch", "/contact.html" %>
</section>